@inject IHttpClientFactory httpClientFactory
@rendermode InteractiveServer

<div>
    <div id="titleDeckContainer">
        <h2>deck</h2>
        <p id="amountOfCards"><em>@AmountOfCardsInDeck</em> / 60</p>
    </div>
    <p class="error">@message</p>

    <div class="deck">

        @if (deckCards != null && deckCards.Any())
        {
            <div id="listOfDeckCards">
                @foreach (DeckReadDTO card in deckCards)
                {
                    <div class="deckCardInstance">
                        <button @onclick="()=>RemoveCardFromDeck(card)" class="deckRemoveButton"> - </button>
                        <div class="deckName">@card.Name</div>
                        <button @onclick="()=>AddCardToDeck(card)" class="deckAmount">@card.Amount</button>
                    </div>
                }
            </div>
        }
        else
        {
            <p>no cards in your deck yet...</p>
        }
    </div>
    <button @onclick="@ClearDeck" class="clearDeck">Clear deck</button>
</div>
