@using Amazon.Runtime
@using Howest.MagicCards.WebAPI.Wrappers
@inject IHttpClientFactory httpClientFactory
@rendermode InteractiveServer


<h2>all cards:</h2>
<p class="error">@message</p>
<div class="allImages">
    @foreach (CardReadDTO card in Cards)
    {
        <div class="cardImage">
            <img src="@card.OriginalImageUrl" alt="@card.Name" id="@card.Number"
                 @onclick:preventDefault="true"
                 @onclick="@(() => AddCardToDeck(card))" />
        </div>
    }
</div>

