@using Amazon.Runtime
@using Howest.MagicCards.WebAPI.Wrappers
@inject IHttpClientFactory httpClientFactory

<h1>all cards:</h1>
<p class="error">@message</p>
@foreach (CardReadDTO card in Cards) 
{
    <div class="cardImage">
        <img src="@card.OriginalImageUrl" alt="@card.Name" id="@card.Number"
             @onclick:preventDefault="true"
             @onclick="@(() => AddCardToDeck(card))"
         />
    </div>
}
