@inject IHttpClientFactory httpClientFactory
@rendermode InteractiveServer

<FilteredCardsForm BlazorFilter="@_blazorFilter" Message="@Message" LoadFilteredCards="@LoadFilteredCards"></FilteredCardsForm>
<div class="allCards">
    @if (filteredCards == null)
    {
        <p><em>Loading</em></p>
        <p>@Message</p>
    }
    else
    {
        <FilteredCardsList Cards="@filteredCards" GetDeck="GetDeck"></FilteredCardsList>
    }
</div>
